{{ define "main" }}
<section class="site-contact">
  <div class="container">
    <div class="row">
      <h1 class="site-contact-title">
        {{ .Params.heading | safeHTML }}
      </h1>
    </div>
    <div class="row">
      <div class="site-contact-form mb-0">
        <h4>{{ .Params.form_heading }}</h4>
        <div class="col-lg-12"></div>
        <div id="tripetto-1dx24ov"></div>
        <script src="https://cdn.jsdelivr.net/npm/@tripetto/runner"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tripetto/runner-classic"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tripetto/studio"></script>
        <script>
          TripettoStudio.form({
            runner: TripettoClassic,
            token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjoiRFU0RnI3bzVGMVY3NkthNFlkVmpSclVzOGxNZUtSTzdaRDh1ZVExRUFFND0iLCJkZWZpbml0aW9uIjoiQ2MrMGRIMTZRcTBjOFpZUnFKK1ZHcjlabUlWM0lUNnl1QytoVU9Oand5bz0iLCJ0eXBlIjoiY29sbGVjdCJ9.av3qDwqB8MRIhaqCVEgXogo6QyL4scbSROSLJlNC0c0",
            element: "tripetto-1dx24ov"
          });
        </script>
        <!-- <p class="contact-form-generator">
        </p> -->
        <body>
          <p><strong>GDPR Statement: </strong>We need to store your email address to contact you. Data will be stored by Tripetto (form provider) on servers in Western Europe. Tripetto does not make any use of the data provided. The information submitted in this form will be shared only with the administrative team of The RCM Cooperative to help them direct your query appropriately. You can request the removal of your email address or any information from our database at any time by emailing info@rcmcooperative.com. All information provided will be treated as confidential and in line with the standards of data protection required by the UK General Data Protection Regulation (GDPR). Find out more at <a href="https://tripetto.com/blog/dont-trust-someone-else-with-your-form-data/">Tripetto Blog "Don't trust someone else with your form data"</a>.</p>
        </body>
      </div>
    </div>
  </div>
  </div>
</section>
{{ end }}