---
layout: default
---
{% include nav.html %}

<div id="pagecontainer">
  <section class="page-section" id="join-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <a href="{{ '/' | relative_url }}#join" class="btn btn-link mb-4">&larr; Back to Join</a>

          <a href="{{ page.url | relative_url }}" class="btn btn-outline-secondary btn-sm d-block mx-auto mb-4" style="max-width: fit-content;">
            <i class="fas fa-link me-1"></i> Direct link to this page
          </a>

          <img class="img-fluid d-block mx-auto mb-4" src="{{ page.image | relative_url }}" alt="{{ page.alt }}">

          <h1 class="text-uppercase text-center">{{ page.title }}</h1>

          {% if page.subtitle %}
            <p class="item-intro text-muted text-center">{{ page.subtitle }}</p>
          {% endif %}

          {{ content }}
        </div>
      </div>
    </div>
  </section>
</div>